# ignore all files in lib directory
lib/*
Library/*

# ignore all .exe files
*.exe

#ignore all files in dataset directory
dataset/*

share/*

# ignore all *.bat in scripts directory
scripts/
*.bat

# ignore all pythong virtual environment files
venv/*

pyvenv.cfg

.vs
.vs/*

.env

env/*
TimeLLM-env/*

# ignore all files in any directory named __pycache__
__pycache__/*

# ignore all files in any subdirectory named __pycache__
**/__pycache__/*
