# requires libuvc
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
 
 # use this instead
 #pip3 install torch==2.3.0 torchvision==0.18.0 torchaudio==2.3.0 --index-url https://download.pytorch.org/whl/cu118

# first install pytorch with command above
# this worked with python version 3.12.5
# use pip3 install -r requirements.txt to install all dependencies
torch>=2.3.0 
torchvision>=0.18.0
torchaudio>=2.3.0

accelerate>=0.28.0
einops>=0.7.0
matplotlib>=3.7.0
numpy
pandas
scikit_learn
scipy
tqdm
peft>=0.4.0
transformers
deepspeed
sentencepiece>=0.2.0
setuptools
mpi4py
azure-storage-blob
azure-identity