# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126

# first install pytorch with command above
# this worked with python version 3.12.5
# use pip3 install -r requirements.txt to install all dependencies
torch 
torchvision 
torchaudio

accelerate>=0.28.0
einops>=0.7.0
matplotlib>=3.7.0
numpy>=1.23.5
pandas>=1.5.3
scikit_learn>=1.2.2
scipy>=1.12.0
tqdm>=4.65.0
peft>=0.4.0
transformers>=4.31.0
accelerate

deepspeed>=0.14.0
sentencepiece>=0.2.0
