fastapi 
uvicorn 
torch 
numpy 
pandas
python-dotenv 
seaborn 
matplotlib 
numpy
pandas
scikit_learn
scipy
tqdm
peft>=0.4.0
transformers
deepspeed
sentencepiece>=0.2.0
setuptools
azure-storage-blob
azure-identity